#background{
	background-color: #990000;
	height: 100%;
}

#sales{
	position: relative;
	width: 100%;
}

#options{
	background-color: #990000;
	color: white;
}



/* CLASS */
.pre-scrollable{
	height:75vh;
}

.card-body{
	background-color: #800000;
	padding: 1rem !important;
}

.card-header{
	padding: 0.5rem 1rem !important;
	text-align: center;
	background-color: #990000 !important;
	color:white !important;
}

.container-fluid{
	background-color: #df9f9f; /*#dfbe9f;*/
	min-height: 100%;
	overflow:hidden !important;
}

.graph-title{
	text-align: center;
}


